<div class="page-header">
  <h1><%= @album.title.capitalize %></h1>
</div>

<%= link_to "Add photo", new_photo_path(album_id: @album.id), class: 'btn btn-primary' %>

<div class="container-albums-show">
  <div class="row">
    <% @album.photos.each do |photo| %>
      <div class="col-md-4">
        <%= image_tag photo.image.url, data: { toggle: 'lightbox', gallery: 'example-gallery', title: 'title' }, class: 'col-md-4' 'img-fluid', alt: 'photo.title' %>
        <div class="center-text" style="padding: .5em;">
          <%= photo.title %>
          <div class="center-text" style="padding: .5em; font-size: .7em;">
            <%= link_to 'Delete', photo_path(photo), method: :delete, data: {confirm: 'Are you sure?'} %>
            <%= link_to 'Edit title', edit_photo_path(photo) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
